div{
    background-color: red;
    text-align: center;
    width: 500px;
    border-radius: 5px;
    border: 2px solid black;
}

label{
    background-color: white;
}

.botonHeroe{
    color: black;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
}

.heroes{
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
}