
<h2>{{hero.name | uppercase}} Details</h2>
<div><span>Id: </span>{{hero.id}}</div>
<div><span>Nombre: </span>{{hero.name}}</div>
<div><span>Altura: </span>{{hero.altura}}</div>
<div><span>Sexo: </span>{{hero.sexo}}</div>
<div><span>Peso: </span>{{hero.peso}}</div>
<div><span>Edad: </span>{{hero.edad}}</div>
<div><span>Poder: </span>{{hero.poder}}</div>




<div>
    <label for="name">Hero Name</label>
    <label id="name" [(ngModel)]="hero.name" placeholder="name"></label>
</div>

<h2>My Heroes Click Event: {{MensajeHeroeSeleccionado}}</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button" (click)="OnSelected(hero)" (mouseenter)=onMouseEnter(hero) (mouseout)="onMouseOut()" class="botonHeroe">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>


<h2>My Heroes</h2>
<table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col"># ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Sexo</th>
        <th scope="col">Poder</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let hero of heroes">
        <th scope="row">{{hero.id}}</th>
        <td>{{hero.name}}</td>
        <td>{{hero.edad}}</td>
        <td>{{hero.sexo}}</td>
        <td>{{hero.poder}}</td>
      </tr>
    </tbody>
  </table>

  <h2>My Heroes Cards</h2>

  <div class="container">

    <div class="row" >

        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let hero of heroes">

          <div class="card" style="width: 18rem;" >
            <img class="card-img-top" src="{{hero.imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{hero.name}}</h5>
              <p class="card-text"><strong>Sexo: </strong>{{hero.sexo}}</p>
              <p class="card-text"><strong>Poder: </strong>{{hero.poder}}</p>
              <a href="#" class="btn btn-primary">Detalles Héroe</a>
            </div>
          </div>

        </div>
    </div>

  </div>


  