<h2>{{hero.name | uppercase}} Details</h2>
<div><span>Id: </span>{{hero.id}}</div>
<div><span>Nombre: </span>{{hero.name}}</div>
<div><span>Altura: </span>{{hero.altura}}</div>
<div><span>Sexo: </span>{{hero.sexo}}</div>
<div><span>Peso: </span>{{hero.peso}}</div>
<div><span>Edad: </span>{{hero.edad}}</div>
<div><span>Poder: </span>{{hero.poder}}</div>

<div>
    <label for="name">Hero Name</label>
    <label id="name" [(ngModel)]="hero.name" placeholder="name"></label>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button" class="botonHeroe">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>